.container{
  padding: 40px;
  min-height: 100vh;
}

.header{
  margin-bottom: 35px;
}

.header h1{
  font-size: 45px;
  color: #6b3e26;
  font-family: 'Jomolhari', serif;
  letter-spacing: 4px;
}

.header p{
  color: #777;
  margin-top: -3px;
  font-family: 'Poppins', sans-serif;
}

.form{
  background: white;
  padding: 30px;
  border-radius: 24px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.inputGroup label{
  margin-bottom: 8px;
  color: #6b3e26;
  font-size: 17px;
  color: var(--brown);
  font-family: 'Joan', serif;
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea{
  padding: 14px;
  border-radius: 12px;
  border: 1px solid rgba(75, 50, 32, 0.4);
  font-size: 14px;
  outline: none;
}

.inputGroup input{
  color: var(--marromTexto);
  font-family: 'Poppins', sans-serif;
}

.inputGroup select{
  color: var(--marromTexto);
  font-family: 'Poppins', sans-serif;
}

.inputGroup textarea{
  min-height: 120px;
  resize: none;
  margin-top: 10px;
}

.botoes{
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.cancelar,
.confirmar{
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
}

.cancelar{
  background: #ddd;
  font-family: 'Poppins', sans-serif;
}

.confirmar{
  background: #a86a46;
  color: white;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.confirmar:hover{
  background: var(--brown);
}